
.red {
    color :red;
}
  
.bold {
    font-weight: bold;
}
  
.Button {
    border: 1px solid lightgreen;
    padding: 16px;
    background-color: lightgreen;
    font: inherit;
    padding: 8px;
    cursor: pointer;  
  }
  
.Button:hover{
  background-color: green;
  border: 1px solid green;
  color: black;
}

.Button.Red {
  background-color: red;
  border: 1px solid red;
  color: black;
}

.Button.Red:hover {
  background-color: brown;
  border: 1px solid brown;
  color: black;
}